! gruvbox_material .Xresources file

*background: #1b1b1d
*foreground: #fbf1c7

*color0: #1d2021
*color8: #7c6f64

*color1: #c34043
*color9: #e82424

*color2: #76946a
*color10: #98BB6C

! *color3: #FFA066
*color3: #c0a36e
*color11: #e6c384

*color4: #7FB4ca
*color12: #7FB4CA

*color5: #987fb8
*color13: #938AA9

*color6: #6a9578
*color14: #7AA89F
!*color14: #83a599

*color7: #727169
*color15: #dcd7ba

!! Transparency (0-1):
!*.alpha: 0.825
*.alpha: 1

!! Set a default font and font size as below:
*.font: Iosevka Nerd Font:size=20

!! Character with
Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

st.font:         Iosevka Nerd Font:style:medium:pixelsize=20

! window padding
st.borderpx: 10
