$white: #fbf1c7;
$black: #1b1b1d;
$blackAlt: #282828;
$grey: #7c6f64;
$lightGrey: #a89984;
$green: #8ec07c;
$red: #cc241d;
$blue: #83a598;
$pink: #cc7f94;
$yellow: #fabd2f;
$orange: #fe8019;
$purple: #d3869b;
