$background: #1b1b1d;
$background-alt: #282828;
$background-alt2: #22262e;
$foreground: #a9b1d6;
$red: #ff000f;
$yellow: #ffb900;
$orange: #FF9E64;
$green: #8ec07c;
$blue: #008df8;
$blue2: #0095ff;
$magenta: #6d43a6;
$cyan: #00d8eb;
